.navContainer {
  padding: 0.5rem 1rem;
  background-color: transparent;
  .iconWrapper {
    display: flex;
    justify-content: space-between;
    .icon {
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
