@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat {
  color: #e9e3dc;
  color: #867dd0;
  color: #fefefe;
  color: #eae4dc;
  color: #e9e3db;
  color: #fdfdfc;
}
