/* RangeSlider.module.scss */
.iphoneCallscreenWrapper {
  @apply text-center; /* Tailwind utility class */
}

.rangeSlider {
  @apply w-80 mt-10 h-14 rounded-lg appearance-none cursor-pointer;
  background-color: #867dd0;
  position: relative;
  &::after {
    content: 'Start call';
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink 2s infinite;
  }

  &::-webkit-slider-thumb {
    position: relative; /* Needed for the icon positioning */
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: #fff; /* Green color */
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    background-image: url("../../images/arrow.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    z-index: 2;
  }

  &::-webkit-slider-thumb:hover {
    // background: #e9e3dc; /* Darker green on hover */
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 23px;
      height: 24px;
      border: 0;
      border-radius: 50%;
      background-image: url("https://img.icons8.com/material-outlined/344/average-2.png");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  &::-moz-range-thumb:hover {
    background: #8f45a0;
  }

  &::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 23px;
      height: 24px;
      border: 0;
      border-radius: 50%;
      background-image: url("https://img.icons8.com/material-outlined/344/average-2.png");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  &::-ms-thumb:hover {
    background: #a04572;
  }
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}